@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.card{
  width: 320px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
.card img{
  display: block;
  max-height: 280px;
  margin: 16px auto;
  filter: drop-shadow(2px 0px 8px #515151);
}
.card h2{
  margin-top: 2px;
  margin-bottom: 8px;
  color: #373737;
  text-align: center;
}
.card p{
  font-size: 16px;
  color: #515151;
  text-align: center;
}
.mod1{
  background: rgb(10, 20, 30);
  
}
.mod2
{
  background: rgb(15, 50, 60);
}
.mod3
{
  background: rgb(01, 90, 76);
}
.mod4
{
  background: rgb(02, 04, 90);
}
.rgb
{
  background: rgba(0, 0, 0, 0.5);
}
.foto
{
  background-image: url(characters/Bardock_Artwork.webp);
} 
.foto2
{
  background-image: url(characters/Beerus_DBS_Broly_Artwork.webp);
  background-position: center;
  
}

.foto3 
{
  background-image: url(characters/Bardock_Artwork.webp);
  background-size: cover;
}
.foto4
{
  background-image: url(characters/Freezer.webp);
  background-attachment: local;
}
.foto5 {
  background: linear-gradient(violet, red, blue);
}
.foto6 
{
  background: radial-gradient(circle, yellow, red, orange)
}
.foto7
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px;
}

.foto8
{
  font-family:
url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

}
.foto9
{
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.foto10
{
  font-size: 4rem;
}

.foto11
{
  margin: 4em;
  padding: 4em;
}
.foto13
{
  margin: 10px;
  padding: 1em;
  border-radius: 0.5rem;
}
.foto14
{
  width: 40vw;
  height: 30vh;
}
.foto15
{
max-width: min-content;
height: auto;
}
.foto16
{
  width: 100px;
  height: 200px;
  object-fit: contain;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}